@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white-color: rgb(231, 229, 229);
  --site-blue: rgb(40, 138, 212);
}

/* * {
  border: 1px solid black;
} */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
}

.grid {
  display: grid;
}
.inline {
  display: inline;
}

.container {
  height: 100%;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 1fr 4fr;
}

.side-menu a {
  text-decoration: none;
  color: var(--white-color);
}

.dashboard {
  grid-area: 1 / 2 / 2 / 3;
  grid-template-rows: 1fr 2fr;
}

.side-menu {
  background-color: var(--site-blue);
  grid-area: 1 / 1 / 3 / 2;
  grid-template-rows: 3fr 1fr;
  color: var(--white-color);
}

.side-menu a {
  font-size: 1.2rem;
  font-weight: bold;
}

.side-menu :nth-child(1 of .button-section) {
  margin-top: 30px;
}

.button-section svg,
.logo-text svg {
  fill: var(--white-color);
}

.logo-text {
  place-content: center left;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 30px 0px 20px 40px;
}

.logo-text h1 {
  margin: 0;
  place-self: center center;
}

.logo-text div {
  display: flex;
  gap: 5px;
  place-content: center center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.side-top-margin {
  margin-top: 30px;
}

.button-section {
  padding: 10px 40px;
}

.button-section svg {
  width: 30px;
}

.side-menu .button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.content {
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: 3fr 1fr;
}

.left-content {
  grid-template-rows: 40px 10fr;
}

.right-content {
  grid-template-rows: 40px 1fr 40px 1fr;
}

.heading {
  display: grid;
  place-content: end left;
}
